.slides {
  width: 100vw;
  height: 80vh;
}

.panel {
  height: 100%;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  color: white;
  font-size: 2rem;
}

/* slide non actif */
.swiper-slide {
  opacity: 0.5;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* slide actif (au centre) */
.swiper-slide-active {
  opacity: 1;
  transform: scale(1.05);
}
