@tailwind base;
@tailwind components;
@tailwind utilities;


/*body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;
}

.container{
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 50px;
  margin-bottom: 20px;
  max-width: 400px;
  width: 100%;
}

.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: 0;
  border-radius: 10px;
}

.progress {
  position: absolute;
  background: red;
  top: 50%;
  left: 0;
  height: 4px;
  transform: translateY(-50%);
  z-index: 0;
  transition: width 400ms ease-in-out;
  border-radius: 10px;
}

.circle {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 4px solid #e0e0e0;
  border-radius: 100px;
  z-index: 1;
}

.circle.active {
  border-color: red;
}

button {
  background-color: red;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  scale: 1.1;
  transition: all 500ms ease-in-out;
}

button:disabled {
  opacity: 0.5;
}*/




/*.slides {
  width: 100%;
  padding: 40px 0;
}

.panel {
  height: 300px; 
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
*/


/*.carousel {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 300px;
  height: 70vh;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  will-change: transform;
}
  */
